/*General Settings*/

html {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    border: 3px solid black;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: black;

}

body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bfddb8+0,6393c1+100&0.09+0,0.39+100 */
    background: -moz-linear-gradient(-45deg, rgba(191, 221, 184, 0.09) 0%, rgba(99, 147, 193, 0.39) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(191, 221, 184, 0.09) 0%, rgba(99, 147, 193, 0.39) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(191, 221, 184, 0.09) 0%, rgba(99, 147, 193, 0.39) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17bfddb8', endColorstr='#636393c1', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

h1,
h2 {
    font-family: 'Domine', serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
    max-width: 1100px;
    min-width: 200px;
    margin: 0 auto;
    box-shadow: 1px 3px 3px gray;
    background-color: white;
}

#content-wrap {
    padding-bottom: 5rem;
    /* Footer height */
}


.mainText {
    margin-left: 3rem;
    margin-right: 1rem;
}

blockquote {
    font-style: oblique;
    font-size: 1.5rem;
    color: rgb(1, 71, 1);
    margin: 3rem;
    max-width: 80%;
    border: 2px solid black;
}

/* Naviation Settings */

nav {
    width: 100%;
    margin-top: 0rem;
    border-width: 1pt;
    margin: 0 auto;
    padding: .7rem 0rem;
    font-family: 'Domine', serif;
}

.active {
    font-style: italic;
    text-decoration: underline;

}

nav a {
    text-decoration: none;
    display: block;
    box-sizing: inherit;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 0;

}

.nav-list li {
    font-size: 1.2rem;
    list-style: none;

}

.nav-list a {
    color: black;
    transition: transform 0.3s ease-out;
}

.nav-list a:hover {
    color: rgb(1, 71, 1);
    transition: color 0.5s ease-out;
    text-shadow: 2px 3px 5px rgba(2, 107, 2, 0.2);
    transition: transform 0.4s ease-out;
    transform: translateY(4px);
}

nav a:visited {
    text-decoration: none;
}

/* Main Landing Page Settings */

.mainImageDiv {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("./assets/loloFront1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 70vh;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
    margin: 0;
}

.heroText h1 {
    font-size: 10rem;
    margin-bottom: 10px;
}

.heroText p {
    font-size: 4rem;
    margin: 0 0 1rem 0;
}

button {
    max-width: 200px;
    padding: 1rem;
    border-radius: .7rem;
    box-shadow: 2px 2px 3px black;
    font-size: 150%;
    color: rgb(1, 71, 1);
    position: sticky;
    align-self: center;
    max-height: 80px;
    min-width: 160px;

}

/* Gallery Settings */

.framed {
    width: 100%;
    height: 20rem;
    margin: 10px auto;
    align-items: center;
    border: none;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 0.7fr));
    grid-gap: 2%;
    max-width: 100%;
    margin: 0 auto;

}

.galleryimg {
    align-items: center;
    width: 100%;


}

.galleryfig {
    border: 3px black solid;
    box-shadow: 1px 1px 5px black;
}

/* Form Settings */
form.form1 fieldset {
    border: 1px solid -moz-linear-gradient(-45deg, rgba(191, 221, 184, 0.09) 0%, rgba(99, 147, 193, 0.39) 100%);
    border-radius: .3rem;
    padding: 1rem 2%;
    margin: 0 .7rem;
}

form.form1 legend {
    font-size: 1.2rem;
    color: rgb(1, 71, 1);
}

form.form1 label {
    display: block;
}

form.form1 span {
    display: block;
    padding-top: 1rem;
    font-size: 0.8rem;
}

form.form1 .infoInput {
    font-weight: 600;
    border-radius: .2rem;
    width: 40%;


}

form.form1 .storyText {
    width: 70%;
    height: 4rem;
    border-radius: .5rem;
}

form.form1 .submitButton {
    color: rgb(1, 71, 1);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: .3rem;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: rgba(200, 200, 200, .7);
}

.thanksDiv {
    text-align: center;
}

/* Footer Settings */
#footer {
    position: absolute;
    font-size: 0.6rem;
    text-align: center;
    bottom: 0;
    margin-bottom: 15px;
    width: 100%;
    height: 0rem;
    clear: both;
    /* Footer height */
}



/* Media Settings */

/* Larger Devices */
@media (min-width: 900px) {
    #video {
        width: 90%;
        margin-left: 5%;
    }

    #almostLast {
        margin-bottom: 0;
        max-height: 310px;
    }

    #lastOnes {
        margin-bottom: 2rem;

    }

    #almostLast {
        margin-bottom: 0;
    }
}

/* Tablet Size Settings */
@media (max-width: 860px) {

    .nav-list li {
        font-size: .9rem;
        border: 2px solid black;
        padding: .5rem;
        border-radius: 1rem;
        color: #FBBE01 !important;
        box-shadow: 1px 1px 5px black;
    }

    .active {
        background-color: rgba(2, 107, 2, 0.2) !important;
    }

    .heroText p {
        font-size: 3.4rem;
    }

    #gallery {
        margin: 0 auto;
        align-items: center;
        width: 100%;
    }

    #lastOnes {
        margin-bottom: 7rem;

    }

    #gallery figure {
        width: 125%;

    }

    .mainText {
        margin-left: .7rem;
    }
}


/* Phone-size Settings */

@media (max-width: 732px) {
    .nav-list {
        flex-direction: column;
        max-width: 200px;

    }

    .mainText {
        margin-left: .2rem;

    }

    .nav-list li {
        font-size: 1.2rem;
        text-align: center;
        background: -moz-linear-gradient(-45deg, rgba(191, 221, 184, 0.09) 0%, rgba(99, 147, 193, 0.39) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(191, 221, 184, 0.09) 0%, rgba(99, 147, 193, 0.39) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(191, 221, 184, 0.09) 0%, rgba(99, 147, 193, 0.39) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17bfddb8', endColorstr='#636393c1', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        font-size: .9rem;
        padding: .3rem;

    }

    #navlist a {
        color: rgb(9, 15, 7);
    }

    .heroText h1 {
        font-size: 6rem;
    }

    .heroText p {
        font-size: 1.6rem;
    }

    .hertoText button {
        font-size: 120%
    }

    .mainImageDiv {
        height: 400px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: .9rem;
    }

    blockquote {
        font-size: 1rem;
        width: 95% !important;
        margin: 20px auto;
    }

    #page-container {
        margin: 20px;
    }

    #gallery {
        margin: 0 auto !important;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(60%, 0.787fr));
    }

    .galleryfig {
        object-fit: cover;
        margin: 0;
    }

    .galleryimg {
        width: 100%;
        object-fit: cover;
    }

    #lastOnes {
        margin-bottom: 7rem;
    }

    .packageImg {
        object-fit: cover;
        width: 100%;
    }

    .packageFig {
        margin: 0 auto;
    }

    #form1 {
        min-width: 70%;
        margin: 0;
        padding: .2rem;
        display: block;
    }

    form.form1 .infoInput {
        width: 85%;
    }

    form.form1 label {
        font-size: 72%;
        margin: 0;
    }

    #selector {
        max-width: 80%;
        display: flex;
    }

    #form1 {
        width: 100%;
        margin: 0;

    }

    #footer {
        font-size: .5rem;
        clear: both;
    }

}